<div id="questions">
<% i = 1 %>
<% for question in @hunt.questions %>
   <% if !Response.find_by_question_id_and_player_id(question.id, @current_player.id) %>
      <div id="activeq">
      <% link_to(hunt_question_response_path(@hunt, question)) do %>Question <%= i%>
        <% end %></div>
    <% else %>
      <div id="inactiveq"><% link_to(hunt_question_response_path(@hunt, question)) do %>
        Question <%= i%>
        <% end %></div>
    <% end %>
    <% i += 1 %>
<% end %>
</div>