<div id="questions">
<% i = 1 %>
<% for question in @hunt.questions %>
  <div id="filledq"><% link_to(hunt_question_path(@hunt, question)) do %>
    Question <%= i%>
  <% end %></div>
  <% i += 1 %>
   <% if question == @question %>
      <div id="currentq">Question <%= i%></div>
    <% else %>
      <div id="filledq"><% link_to(edit_hunt_question_path(@hunt, question)) do %>
        Question <%= i%>
        <% end %></div>
    <% end %>
    <% i += 1 %>
<% end %>
  <div id="addq"><% link_to(new_hunt_question_path(@hunt)) do %>
Add Question
<% end %></div>
</div>