<div id="questions">
<div id="currentq">Question 0</div>
<% i = 1 %>
<% for question in @hunt.questions %>
  <div id="filledq"><% link_to(hunt_question_path(@hunt, question)) do %>
    Question <%= i%>
  <% end %></div>
  <% i += 1 %>
<% end %>
<div id="addq">Add Question</div>
</div>