<% if current_user.creator? %>
<%= render :partial => 'creatorsidebar' %>
<% else %>
<%= render :partial => 'playersidebar' %>
<% end %>
<div id="questionform">
<p>
  <b>Answer:</b>
  <%=h @question.correct_answer %>
</p>
<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>
</div>