* {margin:0; padding:0; border:0}

body {
	background-color: #f9c847;
}

h1 {
	color: #000000;
	font-family: helvetica;
	font-size: 18px;
}

h2 {
	color: #000000;
	font-family: helvetica;
	font-size: 14px;
	margin-bottom: -2px;
	font-style: italic;
}

#mobloginbtn {
	display: block;
	background-color: #83cf2a;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 14px;
	border: 1px solid;
	text-decoration: underline;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 7px;
}

#huntitem {
	display: block;
	background-color: #f7f4e5;
	border-bottom: 1px solid #7d532b;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%x;
	color: #7d532b;
	padding-left: 15px;
}

#huntitem img{
	float: right;
	padding-right: 20px;
}

#huntitem a{
	color: #7d532b;
}


#welcomebanner {
	background-color: #FFFFFF;
	width: 100%;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#mobbanner {
	background-color: #f8c974;
	display: block;