body {
  min-width: 550px;      /* 2x LC width + RC width */
  background-color: #d8d7d7;
  font-family: Helvetica;
text-align: center;
font-size: 12pt;
}

/*table.center {
	margin-left: auto;
	margin-right: auto;
	}
*/	
h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

table.hunts { 
   clear: right; 
   display: block; 
/*width: 90%;*/

   }

table{
width: 710px;
}

th {
	font: bold, 12pt;
	font-size: 10pt;
	color: #000000;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: center;
	padding: 15px 5px 15px 5px;
	background: #a3cc56 url(/images/bg_header.jpg) no-repeat;
}
td {
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #d8e6e7;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
font-size: 10pt;
}

td.huntactions {
	font-size: 8pt;
	text-align: center;
}

td.huntname {
	max-width: 100px;
	overflow: scroll;
}
td.huntquestions {
	max-width: 100px;
}	
td.description {
		width: 40px;
		overflow:hidden;
	}
td.huntcreator {
	width: 30px;
}
td.huntid {
	width: 30px;
}


td.alt {
	background: #e5eeef;
	color: #000000;
}
#container {
margin-left: auto;
margin-right: auto;
position: relative;
text-align: left;

}
#container .column {
  position: relative;
  
}
#center {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid silver;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 115px;*/
	margin-top: 30px;
	padding: 40px;
	max-width: 705px;
}

#center.header {
	
	text-align: right;
	
}

#center.topbutton {
	float: right
}

#content {
	position: relative;
}

#dashboard {
    width: 100%;
	-moz-border-radius-bottomleft: 14px;
	-moz-border-radius-bottomright: 14px;
	background: url('/images/dashboard.png') no-repeat;
	background-color: #d8d7d7;
	border: 2px solid #FFFFFF;
	margin-top: -10px;
	width: 785px;
	height: 58px;
	color: #FFFFFF;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 12pt;
}

#dashboard a {
	color: #FFFFFF;
	text-decoration: underline;
}

#dashboardheader h1 {
	padding-top: 25px;
}

#dashboardheader img {
	float:left;
	display:inline;
	margin-right:10px;
}


img {
	border: none;
}

.userwelcome {
float: left;
margin-left: -50px;
padding-top: 22px;
width: 515px;
}

.help {
	float: left;
	padding-top: 22px;
	margin-left: 25px;
	width: 126px;
}

.signout {
	float: right;
	padding-top: 22px;
	margin-right: 15px;
	width: 145px;
}

#dasshboard{
padding-left: 310px;
margin-bottom: -35px;
padding-top: 20px;
}

#form{
padding: 20px;
}

#questions{
width: 100px;
margin-left: -10px;
margin-top: -10px;
}

#questionform {
margin-left: 180px;
margin-top: -180px;
}

#answerform {
margin-left: 180px;
margin-top: -125px;
}

#currentq {
	display:inline-block;
	width:155px;
	height: 54px;
	background: url("/images/buttons/question_current_edit.png") no-repeat;
	position:relative;
	padding-left:46px;
	padding-top:20px;
	margin-bottom: -19px;
}

#filledq
{
	display:inline-block;
	width:155px;
	height: 54px;
	background: url("/images/buttons/question_filled.png") no-repeat;
	position:relative;
	padding-left:46px;
	padding-top:20px;
	margin-bottom: -19px;
}
#addq
{
	display:inline-block;
	width:155px;
	height: 54px;
	background: url("/images/buttons/question_add_notext.png") no-repeat;
	position:relative;
	padding-left:46px;
	padding-top:20px;
	margin-bottom: -19px;
}

#inactiveq {
	display:inline-block;
	width:155px;
	height: 54px;
	background: url("/images/buttons/question_play_inactive.png") no-repeat;
	position:relative;
	padding-left:46px;
	padding-top:20px;
	margin-bottom: -19px;
}

#activeq {
	display:inline-block;
	width:155px;
	height: 54px;
	background: url("/images/buttons/question_play_active.png") no-repeat;
	position:relative;
	padding-left:46px;
	padding-top:20px;
	margin-bottom: -19px;
}
#map{
padding: 20px;
margin-left: 350px;
position:absolute;
margin-top: -300px;
}
#forma{
position: relative;
margin-left: 200px;
padding:20px;

}

#footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #left {
  left: 150px;           /* RC width */
}

/***
roundedcornerstest

.rounded:before {
  background: transparent url(topright.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  border: none;
  content: url(topleft.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}


.rounded:after {
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(bottomleft.png);
  margin: 0 0 -1px 0;
  height: 30px;
  background: white;
  background: transparent url(bottomright.png) scroll no-repeat bottom right ;
  padding: 0;
}
***/
/*Buttons*/

#saveprogress{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/saveprogress_norm.png");
position:relative;
}

#saveprogress span{
display:none;
}


#saveprogress:hover
{
background:url("/images/buttons/saveprogress_hover.png");
}

#playeraccount{
display:inline-block;
width:303px;
height: 82px;
background: url("/images/buttons/getplayeraccount.png");
position:relative;
}

#playeraccount span{
display:none;
}

#playeraccount:hover
{
}

#creator{
display:inline-block;
width:303px;
height: 82px;
background: url("/images/buttons/getcreatoraccount.png");
position:relative;
}

#creator span{
display:none;
}

#creator:hover
{
}

#clearanswer{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/clearanswer_norm.png");
position:relative;
}

#clearanswer span{
display:none;
}

#clearanswer:hover
{
background:url("/images/buttons/clearanswer_hover.png");
}

a#createnew {
	display: block;
	width:182px;
	height: 0px;
	background: url("/images/buttons/createnewhuntstandby.png");
	padding-top: 55px;
	overflow: hidden;
	float:right;
	margin-top: -50px;
}

#createnew span{
display:none;
}

a#createnew:hover
{
background:url("/images/buttons/createnewhuntmouse.png");
}

#lockin{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/lockinanswer_norm.png");
position:relative;
}

#lockin span{
display:none;
}

#lockin:hover
{
background:url("/images/buttons/lockinanswer_hover.png");
}

#user_submit{
	display: block;
	width:182px;
	background: url("/images/buttons/signmeup_norm.png");
	height: 0px;
	padding-top: 52px;
	margin-top: -50px;
	margin-left: 250px;
	overflow: hidden;
	border: none;
}

#signmeup span{
display:none;
}

#user_submit:hover
{
background:url("/images/buttons/signmeup_hover.png");
}

#viewlist{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/viewlist_norm.png");
position:relative;
}

#viewlist span{
display:none;
}

#viewlist:hover
{
background: url("/images/buttons/viewlist_hov.png");
}

#seeresults{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/viewresults_hover.png");
position:relative;
}

#seeresults span{
display:none;
}

#seeresults:hover
{
background: url("/images/buttons/viewresults_h.png");
}

#printqr{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/printqr_s.png");
position:relative;
}

#printqr span{
display:none;
}

#printqr:hover
{
background: url("/images/buttons/printQR.png");
}

#makeqr{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/makeqrcode_norm.png");
position:relative;
}

#newquestion{
display:block;
width:50px;
height:50px;
background: url("/images/buttons/plus.png");
position:relative;
}


#newquestion span{
display:none;
}

#makeqr span{
display:none;
}

#makeqr:hover
{
background:url("/images/buttons/makeqecode_hover.png");
}

#signupbottombuttons {
	margin-top: 80px;
}
a#clear{
	display:block;
	width:182px;
	height: 0px;
	background: url("/images/buttons/clearform_norm.png");
	padding-top: 52px;
	overflow: hidden;
	margin-top: -50px;
	float: right;
	margin-right: 120px;
	overflow: hidden;
}

#clear span{
display:none;
}

a#clear:hover
{
background:url("/images/buttons/clearform_hover.png");
}

#launch{
display:inline-block;
width:182px;
height: 52px;
background: url("/images/buttons/launchhunt_norm.png");
position:relative;
}

#launch span{
display:none;
}

#launch:hover
{
background:url("/images/buttons/launchhunt_hover.png");
}

#overview{
display: inline-block;
width:150px;
height: 77px;
background: url("/images/buttons/overview.png");
position:relative;
}



#overview span{
display:none;
}

#overview:hover
{
background:url("/images/buttons/overview_hover.png");
}

#huntprofile{
display: inline-block;
width:150px;
height: 77px;
background: url("/images/buttons/huntprofile.png");
position:relative;
}

#huntprofile span{
display:none;
}

#huntprofile:hover
{
background:url("/images/buttons/huntprofile_hov.png");
}

#inviteplayers{
display: inline-block;
width:150px;
height: 77px;
background: url("/images/buttons/inviteplayers.png");
position:relative;
}

#inviteplayers span{
display:none;
}

#inviteplayers:hover
{
background:url("/images/buttons/inviteplayers_hover.png");
}

#quizsetup{
display: inline-block;
width:150px;
height: 77px;
background: url("/images/buttons/quizsetup.png");
position:relative;
}

#quizsetup span{
display:none;
}

#quizsetup:hover
{
background:url("/images/buttons/quizsetup_hover.png");
}
