<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @user.login%>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email%>
</p>

<p>
  <b>User Since:</b>
  <%=h @user.created_at%>
</p>
