<table>
<% if @user %>
<% form_tag(add_players_hunt_path, :method => :put) do %>
	<% @users.each do |user| %>
	<tr>
	<th><b>Name</b></th>
	<th><b>user ID</b></th>
	<th><b>Add user <b></th>
	</tr>
	<tr>
	<td><%= user.login%></td>
	<td>  <%= user.id %></td>
	<td><%= check_box_tag :user_ids, user.id %> </td>
	</tr>
	<% end %>
	<tr><td></td><td></td><td><%= submit_tag 'add users'%></td></tr>
<% end %>
<% else %>
  You have no users to add! =(
<% end %>
</table>