<h1>Participating: Hunt Details</h1>

<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>

<p>
	
	QUESTION<br />
	<table>
		<% @questions.each do |question| %>
		 <td><td>Question:</td>
		  <td><%=h question.question %></td>
		    <td><%= link_to 'Show', question_response_path(question) %></td>
		</tr>
		<% end %>
	</table>