<h1>Participating: Hunt Details</h1>

<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>

<p>
	
	QUESTION<br />
	<table>
		<% @questions.each do |question| %>
		  <tr><td>Question:</tr></td>
		  <tr><td><%=h question.question %></tr></td>
		    <td><%= link_to 'Show', hunt_question_path(@hunt, question) %></td>
		<% end %>
	</table>