<table id="toc" class="toc" summary="FAQ"><tr><td><div id="toctitle"><h2>Scamper Help/FAQ</h2></div>
<ul>
<li class="toclevel-1"><a href="#Requirements"><span class="tocnumber">1</span> <span class="toctext">What are the hardware requirements for Scamper?</span></a></li>
<li class="toclevel-1"><a href="#Dashboard"><span class="tocnumber">2</span> <span class="toctext">What is the Dashboard?</span></a></li>
<li class="toclevel-1"><a href="#Create_Hunt"><span class="tocnumber">3</span> <span class="toctext">How do I create a Hunt?</span></a></li>
<li class="toclevel-1"><a href="#Add_player"><span class="tocnumber">4</span> <span class="toctext">How do i add a player?</span></a></li>

<li class="toclevel-1"><a href="#New_Question"><span class="tocnumber">5</span> <span class="toctext">How do i add a new question to a hunt?</span></a></li>
<li class="toclevel-1"><a href="#Delete_Hunt"><span class="tocnumber">6</span> <span class="toctext">How do i delete a hunt?</span></a></li>
<li class="toclevel-1"><a href="#View_QR"><span class="tocnumber">7</span> <span class="toctext">How do i view all QR codes for a hunt?</span></a></li>

</td></tr></table>

<div class="editsection" style="float:right;margin-left:5px;"></div><a name="Requirements"></a><h4> Requirements for Scamper</h4>
<p>The following is required for scamper 
	<ul>
	<li>Mobile Device capable of browsing the internet - Optional Camera feature for the ability to read QR Codes</li>
	<li>3G or WLAN connection</li>
	<li>Valid email account</li>
	</UL>
</p>
<br></br>
<br></br>
<div class="editsection" style="float:right;margin-left:5px;"></div><a name="Dashboard"></a><h4> What is the Dashboard? </h4>
<p>The Dashboard is the main navigation menu for Scamper. Within this view it allows for control and management of hunts created and players that have been invited to participate. Within the dashboard you have the following features
	<li>View overview of generated hunts</li>
	<li>Ability to view results of the hunt</li>
	<li>Create new questions for a selected hunt</li>
	<li>Invite additional players to a hunt</li>
	<li>View QRcodes that have been generated for the hunt</li>
	<li>Delete the selected hunt</li>
</p>
<br></br>
<br></br>
<div class="editsection" style="float:right;margin-left:5px;"></div><a name="Create_Hunt"></a><h4> How do I create a Hunt? </h4>
<p>This features is only enabled in a creator account. Once you have signed in, from the Dashboard view click the button called create hunt. A hunt is created once you enter the following information.</p>
	<ol>
	<li>Enter the name of the hunt</li>
	<li>The description of the hunt</li>
	<li>Location of the hunt</li>
	<li>Topics covered by the hunt</li>
	<li>Organisation creator belongs too</li>
	</ol>
<p>Once this is formation is entered clicking the Create Hunt button creates the hunt.
<div id="createhunt"><% link_to(root_path) do %><img src="/images/help/createhunt.png"><% end %></div>
</p>
<br></br>
<br></br>
<div class="editsection" style="float:right;margin-left:5px;"></div><a name="Add_Player"></a><h4> How do i add a player? </h4>
<p>This features is only enabled in a creator account. Once you have signed in, from the Dashboard, under actions there is an players icon.
	<div id="addplayer"><% link_to(root_path) do %><img src="/images/help/addplayer.png"><% end %></div>
	<p>You are then given a list displaying all the possible players for that hunt</p>
	<br></br>
		<div id="addplayerlist"><% link_to(root_path) do %><img src="/images/help/addplayerlist.png"><% end %></div>
	<p>Select the necessary player and then click add</p>
</p>
<br></br>
<br></br>

<div class="editsection" style="float:right;margin-left:5px;"></div><a name="New_Question"></a><h4> How do i add a new question to a hunt? </h4>
<p>From the Dashboard, under actions click on the new question button. This generates a page that allows for questions to be entered
			<div id="addplayerbar"><% link_to(root_path) do %><img src="/images/help/newquestion.png"><% end %></div>
</p>
<p>The information required for each question is:
	<ol>
	<li>Questions followed by four multiple choice answers</li>
	<li>Option hint that would be generated into a QR code</li>
	<li>Search for the location of the question on the Google map</li>
	<li>Completed click Save Progress to continue</li>
	</ol>
<p>On the Left hand side the created questions will show up.  You have the option to create more questions by clicking the ADD A QUESTION button</p>
<div id="addnewbar"><% link_to(root_path) do %><img src="/images/help/addnewbar.png"><% end %></div>	
</p>
<br></br>
<br></br>
<div class="editsection" style="float:right;margin-left:5px;"></div><a name="Delete_Hunt"></a><h4> How do i delete a hunt? </h4>
<p>From the Dashboard click on the red cross.</p>
	<div id="addplayerlist"><% link_to(root_path) do %><img src="/images/help/deletehunt.png"><% end %></div>
	<br></br>
	<p>You will be prompted whether you want to delete the hunt, with the option of Cancel or OK. </p>
		<div id="messagedelete"><% link_to(root_path) do %><img src="/images/help/messagedelete.png"><% end %></div>
</p>
<br></br>
<br></br>

<div class="editsection" style="float:right;margin-left:5px;"></div><a name="View_QR"></a><h4> How do i view all QR codes for a hunt? </h4>
<p>To view all the QR codes generated for a hunt from the Dashboard click the Printer button</p>
<p><div id="viewqr"><% link_to(root_path) do %><img src="/images/help/viewqr.png"><% end %></div></p>
<p>This will generate the following page, outlining
	<ol>
	<li>The Question</li>
	<li>The Answer</li>
	<li>The hint that has been generated</li>
	<li>Generated QRcode</li>
	</ol></p>
<p><div id="viewqrmenu"><% link_to(root_path) do %><img src="/images/help/viewqrlist.png"><% end %></div></p>
<p>At the bottom of the screen there is a Printer link that prints the QRcodes ready for aplication</p>
<br></br>
<br></br>




