<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Scamper : About</title>
	<%= stylesheet_link_tag 'frontstyle' %>
</head>


<body>

<div id="header"></div>

<div id="container">
<div id="dashboard" class="column"> 
<div id="logo"><img src="/images/front/logo.png"></div>
<div id="mainnav">
  <% link_to(root_path, {:id => 'home'}) do %><span>home</span><% end %>
  <% link_to(about_site_path, {:id => 'about'}) do %><span>about</span><% end %>
  <% link_to(project_site_path, {:id => 'project'}) do %><span>project</span><% end %>
  <% link_to(team_site_path, {:id => 'team'}) do %><span>theteam</span><% end %>


</div>
<div id="blurb"></div>
</div>

<div id="center" class="column">

		
<div id="meet"><img src="/images/front/about.jpg">
</div>



<div id="images">
  
<span class="grid2">
<img class="aboutimage" src="/images/front/about1.jpg">

<h3 id="blue">Players or Creators</h3>
<p>To use Scamper, you must have either a Player account or a Creator account. 

A Player account lets you to play scavenger hunt games that you have been invited to or are open to the public. For this prototype version, each person is a separate player. However the alpha version will allow you to join teams and pick your partners. 

A Creator account lets you design scavenger hunt sessions. You set up the quizes, hints, answer, pin down flagpoints on the GoogleMap and invite people to your game. You may only invite people that you know of in your school (or organisation) or you can publish it to the general public.</p>
</span>
<br />

<span class="grid2">
<img class="aboutimage" src="/images/front/about2.jpg">

<h3 id="blue">Sign Up</h3>
<p>To begin using Scamper, you need to regsiter for an account. You may choose to have multiple accounts (i.e. one player and one creator account for yourself) but your username must be unique.
 
Here at Scamper, your privacy and protection is important to us. We will not reveal your personal details to any other third parties unless you have provided us with clear, written authorisation. 

For further details, please see our Privacy Policy. </p>
</span>


<span class="grid2">
<img class="aboutimage" src="/images/front/about3.jpg">


<h3 id="blue">Your Dashboard</h3>
<p>Everyone on Scamper starts off with their own Dashboard. The Dashboard is your home, it shows you the scavenger hunt sessions that you have been invited. Or if you are a creator, it shows you the hunts you have created before, their results and hunts that are inactive or incomplete.

From here you may also access tutorials and FAQs.</p>
</span>

<span class="grid2">
<img class="aboutimage" src="/images/front/about4.jpg">

<h3 id="blue">Creating your Scavenger Hunt</h3>
<p>There are three essential components to a good scavenger hunt. </p>

<p>Questions & Answers : You can create any number of questions with multiple choice answers (upwards of one)</p>
<p>Hints: You may create clues in the form of QR codes for you to hide in locations for your players to find. This is optional.</p> 
<p>Map: You must pin point a location on the GoogleMaps for each question. </p>


</span>

<span class="grid2">
<img class="aboutimage" src="/images/front/about5.jpg">

<h3 id="blue">Playing Scavenger Hunts</h3>
<p>Playing is just as easy. 

Bring your orienteering gear, a smartphone/iphone or any 3G mobile with you. Log into your account from your mobile and choose the scavenger hunt you have been invited to and start playing!

To see your scores, finish the scavenger hunt, and return to base to find your creator. </p>
</span>

</div>





</div>




</div>

<div id="footer">
<div id="footercontent">
<h1 id="blue">Who's Scamper?</h1>
<p>
Scamper is the blood, sweat and tears of six dedicated final year Bachelor of Information Technology students at Queensland University of Technology. Left 
entirely to their own devices for this final year capstone project, Scamper grew from a rudimentary basic prototype to this beta release you see now. The development
team is very fortunate to have the support of Mr Andrew Marrington (their very cool project supervisor), and excellent advice from Ms Stieler (of Education Queensland). 
<br />
<strong>For more Behind the Scenes information and to meet the development team, check out the Project section of this website. 
</strong>

<p align="center">2009 Copyright belongs to Scamper Crew</p>
</p>

</div>
</div>
</div>

</body>
</html>
