<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Scamper : Project</title>
	<%= stylesheet_link_tag 'frontstyle' %>
</head>



<body>

<div id="header"></div>

<div id="container">
<div id="dashboard" class="column"> 
<div id="logo"><img src="/images/front/logo.png"></div>
<div id="mainnav">
  <% link_to('index', id=>'home') do %><span>home</span><% end %>
  <% link_to(about_site_path) do %><span>about</span><% end %>
  <% link_to(project_site_path) do %><span>project</span><% end %>
  <% link_to(team_site_path) do %><span>theteam</span><% end %>

</div>
<div id="blurb"></div>
</div>

<div id="center" class="column">

		

<div id="columnleft">
<img src="/images/front/story.jpg">
<p><strong>Scamper is a web application for users to design and play their own scavenger hunts on mobile devices. It is designed to be intuitive, usable and facilitates a richer, more interactive learning experience where students can learn by doing.</strong></p>
<p>
In the ëdesign modeí, teachers are provided with all necessary functions to populate a hunt session with flagpoints on a map within specified perimeter. Teachers would be able to attach necessary teaching material, clues, hints and activities that students would be able to locate while they are participating in the hunt. 
</p><p>
During the hunt, students equipped with compact laptop computers, PDA's or web-enabled smart phones will connect with Scamper via the ëview modeí. Students are able to input their answers in the website in response to ëanswer codesí found at specific locations, identified by flagpoints on the map. 
</p><p>
The next flagpoint would only be enabled on the map when students have successfully completed activities or procured certain information/objects at the current flagpoint. If a student fails to answer the question on their first attempt, they are provided with a 'hint' that can assist them in finding the correct answer. 
</p><p>
Data relating to the time taken to complete the hunts, and the ratio of correct to incorrect answers are recorded for each student. Teachers can then access these results to get a good indication of a student's progress with the learning material. 
</p><p>
Although the application is initially designed to facilitate educational programs, it is foreseeable that this application has much potential to apply to other non-educational fields, namely orienteering, adventure programs, or team-building exercises in businesses. 
</p>
<a  id="download" href="#" title="download"><span>download</span></a>

</div>

<div id="columnright">
<img src="/images/front/stake.jpg">
<div id="c1">
<img src="/images/front/queens.jpg">
<h4 id="blue">
ICT Pedagogical License
</h4>
<p>
Education Queensland for the Department of Education, Training and the Arts has expressed much interest in the project concept as there is a collective trend towards transforming the learning process into a more interactive experience for primary and secondary school students. Scamper objectives closely aligned to the departmentís ICT Pedagogy Licensing scheme.
</p>
<br />
<img src="/images/front/truck.jpg">
<h4 id="blue">
Middle Tier Businesses
</h4>
<p>
We have identified corporate businesses as part of our secondary target group for this project as research have shown that scavenger hunts have been successfully used to train and encourage team building skills, leadership skills, lifting moral amongst employees.</p>
</div>
<div id="c2">
<img src="/images/front/edu.jpg">
<h4 id="blue">
Teachers & Students
</h4>
<p>We expect our target users are teachers, and students ranging between the ages of 9 to 17. Scavenger hunts have traditionally been well-received in the classroom. Teachers have observed higher memory retention and enjoyment in the learning process compared to traditional chalkboard methods. </p>

<br />
<br />
<br />
<br />
<img src="/images/front/book1.jpg">
<h4 id="blue">
Curriculum Developers
</h4>
<p>Curriculum developers and publishers of academic teaching materials may also be interested in producing accompanying material with Scamper. As our project is only within the scope of delivering the necessary technology, publishers may produce education templates and source material that classroom teachers can use.  </p>


</div>




</div>
</div>

<div id="footer">
<div id="footercontent">
<h1 id="blue">Who's Scamper?</h1>
<p>
Scamper is the blood, sweat and tears of six dedicated final year Bachelor of Information Technology students at Queensland University of Technology. Left 
entirely to their own devices for this final year capstone project, Scamper grew from a rudimentary basic prototype to this beta release you see now. The development
team is very fortunate to have the support of Mr Andrew Marrington (their very cool project supervisor), and excellent advice from Ms Stieler (of Education Queensland). 
<br />
<strong>For more Behind the Scenes information and to meet the development team, check out the ìProjectî section of this website. 
</strong>

<p align="center">2009 Copyright belongs to Scamper Crew</p>
</p>

</div>
</div>
</div>

</body>
</html>
